[user]
	name = Derrick Low
	email = derrick@sonic.net
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[help]
	autocorrect = 30
[core]
	pager = less -XRF
	excludesfile = /Users/derricklow/.gitignore_global
[init]
	defaultBranch = main
