[user]
	name = fireplacetv
	email = derrick.low@getaround.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[help]
	autocorrect = 30
[core]
	pager = less -XRF
